<!-- BASE template -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <!-- ajax 통신에서 post-csrf 토큰 기능 정의 -->
    <script>        
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
    </script>

    <!-- 상단 매뉴바 -->
    <a href="/"> [북믈리에]</a>
    <a href="/books"> [도서검색]</a>
    <a href="/reviews"> [서평구경]</a>
    <a href="/reviews/write"> [서평쓰기]</a>
    <a href="/debates"> [독서토론]</a>
    <a href="/admin"> [관리자]</a>

    <!-- 서평 검색 부분 -->
    <a>
        <form action="{% url 'reviews:reviews_list' %}" method="POST">
            {% csrf_token %}  
            <select name="review_search_type" id="review_search_type">
                <option value="전체" selected="true">전체</option>
                <option value="도서">도서</option>
                <option value="작성자">작성자</option>
                <option value="내용">내용</option>
                </select>
            <input id = "review_search_input" type="text" name="review_search_input" placeholder="서평 검색">
        </form>
    </a>
    
    <!-- 로그인에 따른 매뉴 정의 -->
    {% if request.user.is_authenticated %}
        <a> {{user.name}}</a>
        <a href="/mypage"> [마이페이지]</a>
        <a href="/logout"> [로그아웃]</a>
    {% else %}
        <a href="/login"> [로그인]</a>
    {% endif %}
        <br>
    
    <!-- 스타일 블록 -->
    {% block style %}
    <!-- 스타일 -->
    {% endblock %}
</head>

<body>
    
    <!-- 내용 블록 -->
    {% block content %}
    <!-- 내용 -->
    {% endblock %}

</body>
</html>
