<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <a href="/"> [북믈리에]</a>
    <a href="/books"> [도서검색]</a>
    <a href="/reviews"> [서평구경]</a>
    <a href="/reviews/write"> [서평쓰기]</a>
    <a href="/debates"> [독서토론]</a>

    <!-- 서평 부분 -->
    <a>
    <form action="{% url 'reviews:reviews' %}" method="GET">
        <select name="type" id="type">
            <option value="전체" selected="true">전체</option>
            <option value="도서">도서</option>
            <option value="작성자">작성자</option>
            <option value="내용">내용</option>
            </select>
        <input id = "search" type="text" name="search" placeholder="서평 검색">
    </form>
    </a>
    
    {% if request.user.is_authenticated %}
        <a> {{user.name}}</a>
        <a href="/mypage"> [마이페이지]</a>
        <a href="/logout"> [로그아웃]</a>
    {% else %}
        <a href="/login"> [로그인]</a>
    {% endif %}
        <br>
    
    {% block style %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
