{% extends 'bookmmelier_base.html' %}
{% block content %}
{% load static %}
<!--greeting-->
<section class="container" id="greeting">
   <div class="row">
      <div class="col-12 greeting">
         <span>사람의 마음을 이어주는 독서<br>
            서로의 생각을 적어보고 전해보아요
         </span>
      </div>
   </div>
</section>

<!-- 홈 버튼 -->
<section class="container" id="shortcut">
   <div class="row justify-content-center">
      <div class="col-3 offset-1">
         <div class="shortcut-container" onclick=location.href="{% url 'reviews:write' %}">
            <div class="shortcut-desc">
               이미 읽은 책이 <br>
               있으신가요?
            </div>
            <div class="shortcut-icon">
               <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <div class="shortcut-title">
               서평 작성하기
            </div>
         </div>
      </div>

      <div class="col-3 offset-1">
         <div class="shortcut-container" onclick=location.href="{% url 'users:mypage' %}">
            <div class="shortcut-desc">
               내가 얼마나 <br>
               책을 읽었을까요?
            </div>
            <div class="shortcut-icon">
               <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <div class="shortcut-title">
               독서 현황 확인
            </div>
         </div>
      </div>

      <div class="col-3 offset-1">
         <div class="shortcut-container" onclick=location.href="{% url 'reviews:list' %}">
            <div class="shortcut-desc">
               다른 사람들은<br>
               어떻게 생각할까요?
            </div>
            <div class="shortcut-icon">
               <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <div class="shortcut-title">
               서평 구경하기
            </div>
         </div>
      </div>
   </div>
</section>

<!-- 도서 목록 -->
<section class="container" id="books">
   <div class="row justify-content-between">
      <div class="col-4 offset-3">
         <div class="sub-contents">
            <div class="header justify-content-between">
               <span class="sub-title">
                  인기도서
               </span>
               <span class="more">
                  <a href="#">더보기></a>
               </span>
            </div>
            <div class="book-items-vertical">
               {% if bestseller_list %}
               {% for book in bestseller_list %}
               <div class="item" onclick=location.href="{% url 'books:detail'%}?isbn13={{book.isbn13}}">
                  {%if book.img_url %}
                  <img src="{{book.img_url}}">
                  {%else%}
                  <img src="{% static 'img/non_image.png' %}">
                  {%endif%}

                  <div class="title">
                     {{book.title}}
                  </div>
                  <div class="author">
                     {{book.author}} | {{book.publisher}}
                  </div>
               </div>
               {% endfor %}
               {% endif %}
            </div>
         </div>
      </div>

      <div class="col-4">
         <div class="sub-contents">
            <div class="header justify-content-between">
               <span class="sub-title">
                  AI 추천도서
               </span>
               <span class="more">
                  <a href="#">더보기></a>
               </span>
            </div>

            <div class="book-items-vertical">
               {% if recommend_list %}
               {% for book in recommend_list %}
               <div class="item" onclick=location.href="{% url 'books:detail'%}?isbn13={{book.isbn13}}">
                  {%if book.img_url %}
                  <img src="{{book.img_url}}">
                  {%else%}
                  <img src="{% static 'img/non_image.png' %}">
                  {%endif%}
                  <div class="title">
                     {{book.title}}
                  </div>
                  <div class="author">
                     {{book.author}} | {{book.publisher}}
                  </div>
               </div>
               {% endfor %}
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</section>

<!--status-->
<section class="container" id="status">
   <div class="row status-items justify-content-between">
      <div class="col-3">
         <div class="item">
            <div class="rate">
               {{books_cnt}}
            </div>
            <div class="desc">
               Books
            </div>
         </div>
      </div>


      <div class="col-3">
         <div class="item">
            <div class="rate">

               {{reviews_cnt}}
            </div>
            <div class="desc">
               reviews
            </div>
         </div>
      </div>

      <div class="col-3">
         <div class="item">
            <div class="rate">
               {{users_cnt}}
            </div>
            <div class="desc">
               users
            </div>
         </div>
      </div>

      <div class="col-3">
         <div class="item">
            <div class="rate">
               {{debates_cnt}}
            </div>
            <div class="desc">
               debates
            </div>
         </div>
      </div>
   </div>
</section>

<!--phrase-->
<section class="container-fluid" id="phrase">
   <div class="row justify-content-center">
      <div class="col-12 justify-content-center">
         <blockquote>
            <p>Reading is<br> Departure and Arrival</p>
         </blockquote>
      </div>
   </div>
</section>

<!-- 리뷰 목록 -->
<section class="container" id="reviews">
   <div class="row">
      <div class="sub-contents">
         <div class="col-12">
            <div class="sub-title">
               인기서평
            </div>
         </div>
         <div class="col-12 review-items">
            {% if reviews_list %}
            {% for review in reviews_list %}
            <div class="item" onclick=location.href="{% url 'reviews:detail'%}?review_id={{review.review_id}}">
               <div class="book">
                  {%if review.book.img_url %}
                  <img src="{{review.book.img_url}}">
                  {%else%}
                  <img src="{% static 'img/non_image.png' %}">
                  {%endif%}
                  <div class="title">
                     {{review.book.title}}
                  </div>
                  <div class="author">
                     저자 | {{review.book.author}}
                  </div>
               </div>
               <div class="review">
                  <span class="title">{{review.title}}</span>
                  <span class="writer">{{review.user.name}}</span>
                  <div class="content">
                     {{review.contents|striptags|safe|slice:':100'|truncatechars:30}}
                  </div>
               </div>
            </div>
            {% endfor %}
            {% endif %}
         </div>
      </div>
   </div>
</section>


{% endblock %}