{% extends 'base.html' %}
{% load bootstrap4 %} 
{% block content %}
<h1>비밀번호 변경</h1>

<h3>{{result}}</h3>

<form action="" method="POST">
    {% csrf_token %}
    <label for ="input_pw">현재 비밀번호</label>
    <input id = "input_pw" type="password" name="input_pw">
    <br>
    <label for ="change_pw">변경 비밀번호</label>
    <input id = "change_pw" type="password" name="change_pw">
    <br>
    <label for ="change_pw_check">변경 비밀번호 확인</label>
    <input id = "change_pw_check" type="password" name="change_pw_check">
    <br>    
    <button type="submit">변경완료</button>
</form>
{% endblock %}