{% extends 'base.html' %}
{% load bootstrap4 %} 
{% block content %}
<h1>회원가입</h1>

<h3>{{result}}</h3>

<form action="{% url 'users:signup' %}" method="POST">
    {% csrf_token %}
    <label for ="input_id">아이디</label>
    <input id = "input_id" type="text" name="input_id">
    <br>
    <label for ="input_name">이름</label>
    <input id = "input_name" type="text" name="input_name">
    <br>
    <label for ="input_pw">비밀번호</label>
    <input id = "input_pw" type="password" name="input_pw">
    <br>
    <label for ="input_pw_check">비밀번호 확인</label>
    <input id = "input_pw_check" type="password" name="input_pw_check">
    <br>
    <label for ="input_email">이메일</label>
    <input id = "input_email" type="email" name="input_email">
    <br>
    <label for ="input_gender">성별</label>
    <input type="radio" id = "input_gender" name="input_gender" value="male" checked>남성
    <input type="radio" id = "input_gender" name="input_gender" value="female">여성
    <br>
    <label for ="input_age">나이</label>
    <input id = "input_age" type="number" name="input_age">
    <br>
    <button type="submit">회원가입</button>
</form>
{% endblock %}