<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>북믈리에</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}">
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://kit.fontawesome.com/f9a809ddea.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 sign-container justify-content-center">
                <img src="{% static 'img/bg.png' %}">
                <div class="desc"><b>비밀번호 변경을 위한 링크가 메일로 발송됩니다.</b></div>
                <form id="forgotpassword" method="POST">
                    {% csrf_token %}
                    {% for field in forms %}
                    {{ field.label_tag }} {{ field }}
                    {% endfor %}
                    <div id="error_respond"></div>
                    <input type="submit" value="비밀번호 찾기">
                </form>
                <!-- <input type="text" name="id" placeholder="아이디를 입력해주세요">
                <input type="text" name="email" placeholder="이메일을 입력해주세요."> -->
            </div>
        </div>
    </div>

    <script>
        $('#forgotpassword').on('submit', function () {
            event.preventDefault();
            form_array = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "{% url 'users:forgotPassword' %}",
                data: form_array,
                success: function (data) {
                    console.log(data)
                    var keys = Object.keys(data);
                    if (keys == "success") {
                        alert("비밀번호 변경 링크가 메일로 전송되었습니다.")
                        window.location.href = ("/login");
                    } else {
                        for (key in keys) {
                            $("#error_respond").text(data[keys[key]])
                        }
                    }
                }
            })
        });
    </script>

</body>

</html>