<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>북믈리에</title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/customstyle.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}">
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="https://kit.fontawesome.com/f9a809ddea.js" crossorigin="anonymous"></script>
</head>

<body>

   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="col-4 sign-container justify-content-center">
            <img src="{% static 'img/bg.png' %}">
            <form id="resetpassword" action="#" method="POST">

               {% csrf_token %}
               {% for field in forms %}
               {{ field.label_tag }} {{ field }}
               {% endfor %}

               <div id="error_respond"></div>
               <input type="hidden" id="id" name="id" value='{{id}}'>
               <input type="submit" value="비밀번호 재설정">
            </form>

         </div>
      </div>
   </div>

   <script>
      $('#resetpassword').on('submit', function () {
         event.preventDefault();
         form_array = $(this).serialize();
         $.ajax({
            type: "POST",
            url: "{% url 'users:resetPassword' %}",
            data: form_array,
            success: function (data) {
               console.log(data)
               var keys = Object.keys(data);
               if (keys == "success") {
                  alert("비밀번호가 변경되었습니다.")
                  window.location.href = ("/login");
               } else {
                  for (key in keys) {
                     $("#error_respond").text(data[keys[key]])
                  }
               }
            }
         })
      });
   </script>

</body>

</html>