{% extends 'bookmmelier_base.html' %}
{% load bootstrap4 %} 
{% block content %}

<!-- 새로운 비밀번호 입력 부분 -->
<h1>비밀번호 변경</h1>

<div id="changepassword_forms">
    <form id = "changepassword" method="POST">
        {% csrf_token %}     
        {% for field in forms %}
            {{ field.label_tag }} {{ field }} 
        {% endfor %}    
        <div id="error_respond"></div>            
        <button  type="submit">비밀번호 변경</button>
    </form>
</div>

<script>
    $('#changepassword').on('submit',function(){
        event.preventDefault();
        form_array = $(this).serialize();
        $.ajax({
            type:"POST",
            url: "{% url 'users:changePassword' %}",
            data : form_array,
            success:function(data){ 
                console.log(data)
                var keys = Object.keys(data); 
                if (keys =="success"){
                    alert("비밀번호가 변경되었습니다.")
                    window.location.href = ("/mypage");
                }else{          
                    for (key in keys){        
                        $("#error_respond").text(data[keys[key]])
                    }      
                }
            }
        })
    }); 
</script>
{% endblock %}