{% extends 'bookmmelier_base.html' %}
{% block content %}

<!-- 새로운 비밀번호 입력 부분 -->
{%if result%}
<h3>{{result}}</h3>
{%else%}
<h1>비밀번호 변경</h1>
<p>새로운 비밀번호를 입력해주세요.</p>


<div id="resetpassword_forms">
   <form id="resetpassword" method="POST">
      {% csrf_token %}
      {% for field in forms %}
      {{ field.label_tag }} {{ field }}
      {% endfor %}
      <div id="error_respond"></div>
      <input type="hidden" id="id" name="id" value='{{id}}'>
      <button type="submit">비밀번호 변경하기</button>
   </form>
</div>

<script>
   $('#resetpassword').on('submit', function () {
      event.preventDefault();
      form_array = $(this).serialize();
      $.ajax({
         type: "POST",
         url: "{% url 'users:resetPassword' %}",
         data: form_array,
         success: function (data) {
            var keys = Object.keys(data);
            if (keys == "success") {
               alert("비밀번호가 변경되었습니다.")
               window.location.href = ("/login");
            } else {
               for (key in keys) {
                  $("#error_respond").text(data[keys[key]])
               }
            }
         }
      })
   });
</script>
{%endif%}

{% endblock %}