{% extends 'bookmmelier_base.html' %}
{% load bootstrap4 %} 
{% block content %}

<!-- 새로운 비밀번호 입력 부분 -->
<h1>비밀번호 변경 요청</h1>
<p>비밀번호 변경을 위한 링크가 메일로 발송됩니다.</p>

<div id="forgotpassword_forms">
    <form id = "forgotpassword" method="POST">
        {% csrf_token %}     
        {% for field in forms %}
            {{ field.label_tag }} {{ field }} 
        {% endfor %}    
        <div id="error_respond"></div>            
        <button type="submit">메일 발송받기</button>
    </form>
</div>

<script>
    $('#forgotpassword').on('submit',function(){
        event.preventDefault();
        form_array = $(this).serialize();
        $.ajax({
            type:"POST",
            url: "{% url 'users:forgotPassword' %}",
            data : form_array,
            success:function(data){ 
                console.log(data)
                var keys = Object.keys(data); 
                if (keys =="success"){
                    alert("비밀번호 변경 링크가 메일로 전송되었습니다.")
                    window.location.href = ("/login");
                }else{          
                    for (key in keys){        
                        $("#error_respond").text(data[keys[key]])
                    }      
                }
            }
        })
    }); 
</script>
{% endblock %}