<!-- 도서 검색 및 페이지 이동에 대한 결과 테이블 -->
<div id="table">
    {% if reviews_list %}
    <div class="content-container no-margin">
        <!-- 서평 목록 테이블 정의 -->
        {% for review in reviews_list %}
        <div class="col-12 review-container"
            onclick=location.href="{% url 'reviews:detail'%}?review_id={{review.review_id}}">
            <div class="header">
                <!-- 서평제목 -->
                <div class="title">{{review.title}}
                    <!-- 도서제목 -->
                    <span class="book">in {{review.book.title}}</span>
                </div>
                <!-- 작성자 -->
                <div class="writer">by {{review.user.id}}</div>
            </div>
            <!-- 메타데이터 -->
            <div class="metadata">
                <!-- 평점 -->
                <div class="stars">
                    {{review.rate}}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <!-- 상태 -->
                <div class="status">
                    <!-- 좋아요 -->
                    <i class="fa-regular fa-thumbs-up"></i>
                    {{review.like_users.count}}
                    &nbsp;
                    <!-- 댓글 수 -->
                    <i class="fa-regular fa-comment"></i>
                    6
                </div>
            </div>
            <!-- 서평 컨텐츠 -->
            <div class="contents">
                {{review.contents|striptags|safe|slice:':100'|truncatechars:30 }}
            </div>
        </div>
        {% endfor %}
        <!-- 페이지네이션 부분 -->
        {% if reviews_list.has_previous or reviews_list.has_next %}
        <div class="row justify-content-center">
            <div class=" col-8 pagination">
                <!-- 처음으로 버튼 -->
                <a class="first_page">
                    <i class="fa-solid fa-chevron-left"></i>
                    <i class="fa-solid fa-chevron-left"></i></a>
                <!-- 각 페이지 버튼 -->
                {% for page in reviews_list.paginator.page_range %}
                {% if page >= reviews_list.number|add:-5 and page <= reviews_list.number|add:5 %}
                <a class="now_page">{{page}}</a>
                {% endif %}
                {%endfor %}
                <!-- 마지막으로 버튼 -->
                <a class="last_page">
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
        {%endif%}
    </div>
    {% else %}
    <div class="no-result">
        <p>아직 작성한 서평이 없습니다.</p>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    {% endif %}
</div>

<script>
    $('#search_button').click(function () {
        $.ajax({
            type: "get",
            url: "{% url 'reviews:list' %}",
            data: {
                'search_input': $('#search_input').val(),
                'search_type': $('#search_type').val()
            },
            success: function (data) {
                $('#table').html(data)
            }
        })
    })

    $(document).on('click', '.first_page', function () {
        num_pages = parseInt($('.now_page').first().text());
        page_click();
    })

    $(document).on('click', '.last_page', function () {
        num_pages = parseInt($('.now_page').last().text());
        page_click();
    })

    $(document).on('click', '.now_page', function () {
        num_pages = parseInt($(this).text());
        page_click();
    })

    function page_click() {
        $.ajax({
            type: "get",
            url: "{% url 'reviews:list' %}",
            data: {
                'search_input': $('#search_input').val(),
                'search_type': $('#search_type').val(),
                'page': num_pages
            },
            success: function (data) {
                $('#table').html(data)
            },
        })

    }
</script>