{% load static %}
<!-- 도서 목록 -->
<div id="table">
    <div class="row">
        <div class="book-items">
            {% if books_list %}
            {% for book in books_list %}
            <div class="col-12 item" onclick=location.href="{% url 'books:detail'%}?isbn13={{book.isbn13}}">
                {% if book.img_url %}
                <img src="{{book.img_url}}">
                {% else %}
                <img src="{% static 'img/non_image.png' %}">
                {% endif %}
                <div class="metadata">
                    <div class="title">
                        {{book.title}}
                    </div>
                    <table class="bibil">
                        <tr>
                            <th>저자</th>
                            <td>{{book.author}}</td>
                            <th>출판사</th>
                            <td>{{book.publisher}}</td>
                            <th>출판년도</th>
                            <td>{{book.pub_date}}</td>
                        </tr>
                        <tr>
                            <th>주제</th>
                            <td>{{book.kdc_class_no}}</td>
                            <th>ISBN</th>
                            <td>{{book.isbn13}}</td>
                            <th></th>
                            <td></td>
                        </tr>
                    </table>
                    <div class="desc">
                        {{review.contents|truncatechars:30|safe}}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <table class="bibil">
                <td>검색 결과가 없습니다.</td>
            </table>
            {% endif %}
        </div>
    </div>

    <!-- 페이지네이션 부분 -->
    <div style="text-align:center">
        <div class="pagination" id="page">
            <!-- 페이지네이션 : 처음으로 -->
            {% if books_list.has_previous %}
            <a class="first_page" type="button">맨 앞으로</a>
            {% endif %}

            <!-- 페이지네이션 : 각 페이지로 -->
            <div style="width:30%; margin: 5px;">
                {% for page in books_list.paginator.page_range %}
                {% if page >= books_list.number|add:-5 and page <= books_list.number|add:5 %}
                <a class="now_page" type="button">{{page}}</a>
                {% endif %}
                {%endfor %}
            </div>

            <!-- 페이지네이션 : 마지막으로 -->
            {% if books_list.has_next %}
            <a class="last_page" type="button">맨 뒤로</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // 테이블의 각 요소에 대한 클릭 이벤트 지정
    $(document).ready(function () {
        $('#bookitem').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });

    // 검색에 따른 결과 반영 기능
    $('#search_button').click(function () {
        $.ajax({
            type: "get",
            url: "{% url 'books:list' %}",
            data: {
                'search_input': $('#search_input').val(),
            },
            success: function (data) {
                $('#table').html(data)
            }
        })
    })

    // 각 페이지네이션 버튼 클릭에 따른 결과 전달
    $('.first_page').click(function () {
        num_pages = parseInt($('.now_page').first().text());
        page_click();
    })
    $('.now_page').click(function () {
        num_pages = parseInt($(this).text());
        page_click();
    })
    $('.last_page').click(function () {
        num_pages = parseInt($('.now_page').last().text());
        page_click();
    })

    function page_click() {
        $.ajax({
            type: "get",
            url: "{% url 'books:list' %}",
            data: {
                'search_input': $('#search_input').val(),
                'page': num_pages
            },
            success: function (data) {
                console.log(data)
                $('#table').html(data);
            }
        })
    }
</script>