<!-- 도서 상세 페이지 -->
{% extends 'base.html' %}
{% block content %}
<h1>도서 페이지</h1>

<!-- 도서 정보 -->
<div>
    <img src="{{book.img_url}}" width="500" , height="700">
    <h1>제목 : {{book.title}}</h1>
    <h3>출판사 :{{book.publisher}}</h3>
    <h3>작가 : {{book.author}}</h3>
    <h3>소개글 : {{book.description}}</h3>
</div>

<!-- 최근 서평 -->
<div style="border:1px solid black;">
<h3><a href="{% url 'reviews:review_write' %}?isbn13={{book.isbn13}}">서평 쓰러가기</a></h3>
{%if reviews %}
    {% for review in reviews %}
    <div style="border:1px solid black;">
        <h3></h3>                        
        <h3><a href="{% url 'reviews:review_detail'%}?review_id={{review.review_id}}">{{review.user.name}} : {{review.title}}</a></h3>
        <h3>{{review.contents|slice:':100'|truncatechars:30|safe}} [평점 : {{review.rate}}]</h3>
    </div>
    {%endfor%}
{%else%}
    <h3>작성된 서평이 없습니다.</h3>
{%endif%}
</div>


<!-- 토론 -->
{% endblock %}