{% extends 'bookmmelier_base.html' %}
{% block content %}
{% load static %}

<section class="container" id="main">
	<div class="row">
		<div class="col-12">
			<span class="main-title">도서검색</span>
		</div>
	</div>

	<!-- 검색 부분 -->
	<div class="row">
		<div class="col-12 search">
			<form action="#" method="GET">
				<input id="search_input" type="text" name="search" placeholder="도서명, 저자, 출판사 등을 입력해주세요">
				<i class='fa-solid fa-magnifying-glass' id="search_button" type="submit"></i>
			</form>
		</div>
		{%if search_input%}
		<a>검색결과 : {{search_input}}</a>
		{%endif%}
	</div>
	<!-- 도서 목록 및 검색 결과-->
	{% include 'books_table.html' %}

</section>

{% endblock %}