<table class="table-contents" style="padding:10px" id="table">
    <thead>
        <tr text-align = "center">
            <th>title</th>
            <th>author</th>
            <th>publisher</th>
            <th>img_url</th>
        </tr>
    </thead>
            
    <tbody>
        {% if book_list %}
            {% for book in book_list %}
            <tr class="{% cycle '' 'even_bgcolor' %}">
                <td>{{book.title}}</a></td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>    
                <td><img src="{{book.img_url}}" width="50", height="70"></td>
            </tr>                    
            {% endfor %}
        {% else %}
            <tr>
                <td>작성된 게시글이 없습니다.</td>
            </tr>
    {% endif %}
    </tbody>

    <div class="pagination">    
        <div style="width:35%; margin: 5px;">
        {% if book_list.has_previous %}
            {% if search %}
                <a class="abutton" href="./searchBooks?page=1&type={{type}}&search={{search}}">맨 앞으로</a>
                <a class="abutton" href="./searchBooks?page={{book_list.previous_page_number}}&type={{type}}&search={{search}}">이전</a>
            {% else %}
                <a>검색어 없음 {{search}}</a>
                <a class="abutton" href="./searchBooks?page=1">맨 앞으로</a>
                <a class="abutton" href="./searchBooks?page={{ book_list.previous_page_number }}">이전</a>                    
            {% endif %}
        {% endif %}
        </div>

        <div style="width:30%; margin: 5px;">
        {% for page in book_list.paginator.page_range %}
            {% if page >= book_list.number|add:-2 and page <= book_list.number|add:2 %}
            <span class="{% if page == book_list.number %}current{% endif %}">                    
                {% if search %}
                    <a href="./searchBooks?page={{page}}&type={{type}}&search={{search}}">{{page}}</a>
                {% else %}
                    <a href="./searchBooks?page={{page}}">{{page}}</a>                                  
                {% endif %}
            </span>
            {% elif page >= book_list.number|add:-3 and page <= book_list.number|add:3 %}
                ..
            {% endif %}
        {% endfor %}
        </div>

        <div style="width:35%; margin: 5px;">
        {% if book_list.has_next %}
            {% if search %}
                <a class="abutton" href="./searchBooks?page={{ book_list.next_page_number }}&type={{type}}&search={{search}}">다음</a>
                <a class="abutton" href="./searchBooks?page={{ book_list.paginator.num_pages }}&type={{type}}&search={{search}}">맨 뒤로</a>
            {% else %}
                <a class="abutton" href="./searchBooks?page={{ book_list.next_page_number }}">다음</a>
                <a class="abutton" href="./searchBooks?page={{ book_list.paginator.num_pages }}">맨 뒤로</a>         
            {% endif %}

        {% endif %}
        </div>        
    </div>  
</table>
