<!-- 도서 검색 및 페이지 이동에 대한 결과 테이블 -->
<div id="table">

    {% if reviews_list %}
    <!-- 서평 아이템 목록 -->
    <div class="row">
        <div class="content-container no-margin">
            <!-- 서평 아이템 -->
            {% for review in reviews_list %}
            <div class="col-12 review-container"
                onclick=location.href="{% url 'reviews:detail'%}?review_id={{review.review_id}}">
                <div class="header">
                    <div class="title">{{review.title}}<span class="book">in 역행자</span></div>
                    <div class="writer">by {{review.user.name}}</div>
                </div>

                <div class="metadata">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <!-- 리뷰 사용자 및 댓글 수 확인 -->
                    <div class="status">
                        <i class="fa-regular fa-thumbs-up"></i>
                        {{review.like_users.count}}
                        &nbsp;
                        <i class="fa-regular fa-comment"></i>
                        {{review.comments.count}}
                    </div>
                </div>

                <div class="contents">
                    {{review.contents|striptags|safe|truncatechars:30}}
                </div>
            </div>
            {% endfor %}
            <!-- 페이지네이션 부분 -->
            {% if comments_list.has_previous or comments_list.has_next %}
            <div class="row justify-content-center">
                <div class=" col-8 pagination">
                    <!-- 처음으로 버튼 -->
                    <a class="first_page">
                        <i class="fa-solid fa-chevron-left"></i>
                        <i class="fa-solid fa-chevron-left"></i></a>
                    <!-- 각 페이지 버튼 -->
                    {% for page in books_list.paginator.page_range %}
                    {% if page >= books_list.number|add:-5 and page <= books_list.number|add:5 %}
                    <a class="now_page">{{page}}</a>
                    {% endif %}
                    {%endfor %}
                    <!-- 마지막으로 버튼 -->
                    <a class="last_page">
                        <i class="fa-solid fa-chevron-right"></i>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>

                </div>
            </div>
            {%endif%}
        </div>
    </div>

    {% else %}
    <!-- 검색결과 없는 경우 -->
    <div class="row">
        <div class="col-12">
            <div class="no-result">
                <p><b>INPUT</b>과 일치하는 검색결과가 없습니다. 다른 키워드로 검색해보세요.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $('#search_button').click(function () {
        $.ajax({
            type: "get",
            url: "{% url 'reviews:list' %}",
            data: {
                'search_input': $('#search_input').val()
            },
            success: function (data) {
                console.log(data)
                $('#table').html(data)
            }
        })
    })

    $(document).on('click', '.first_page', function () {
        num_pages = parseInt($('.now_page').first().text());
        page_click();
    })

    $(document).on('click', '.last_page', function () {
        num_pages = parseInt($('.now_page').last().text());
        page_click();
    })

    $(document).on('click', '.now_page', function () {
        num_pages = parseInt($(this).text());
        page_click();
    })

    function page_click() {
        $.ajax({
            type: "get",
            url: "{% url 'reviews:list' %}",
            data: {
                'search_input': $('#search_input').val()
            },
            success: function (data) {
                $('#table').html(data)
            },
        })

    }
</script>