<!-- 리뷰 좋아요 기능 -->
<div id="review_like">
    {% if request.user.is_authenticated %}
    <div class="like">
        {% if request.user in review.like_users.all %}
        <i class="fa-solid fa-heart" onclick="review_dislike('{{review.review_id}}')"></i>
        <!-- 비활성화 -->
        {% else %}
        <!-- 활성화 -->
        <i class="fa-regular fa-heart" onclick="review_like('{{review.review_id}}')"></i>
        {% endif %}
        </a>
    </div>
    {%endif%}
</div>

<script>
    // 좋아요 기능
    const review_like = (review_id) => {
        $.ajax({
            type: "POST",
            url: "{% url 'reviews:like' %}",
            data: {
                'review_id': review_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                alert('좋아요')
                $('#review_like').html(data);
            }
        });
    }
    // 좋아요 취소 기능
    const review_dislike = (review_id) => {
        $.ajax({
            type: "POST",
            url: "{% url 'reviews:dislike' %}",
            data: {
                'review_id': review_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                alert('싫어요')
                $('#review_like').html(data);
            }
        });
    }
</script>