<!-- 도서 검색 및 페이지 이동에 대한 결과 테이블 -->
<div id="table"  >
    {%if search_input%}
    <a>검색결과 : ({{search_type}}){{search_input}}</a>
    {%endif%}

    <!-- 서평 목록 부분 -->
    <div>
        <table class="table-contents"  style="padding:10px; border-top: 3px solid #444444; border-collapse: collapse; margin:auto; width: 100%;">
            <thead>
                <tr text-align="center" style="padding:5px; border-bottom: 1px solid #444444; padding: 10px; text-align: center;">
                    <th>ID</th>
                    <th>book</th>
                    <th>name</th>
                    <th>title</th>
                    <th>contents</th>
                    <th>rate</th>
                    <th>likes</th>
                    <th>time_retouch</th>
                </tr>
            </thead>            

            <tbody>
                {% if reviews_list %}
                {% for review in reviews_list %}
                    <tr class="{% cycle '' 'even_bgcolor' %}" style="padding:5px; border-bottom: 1px solid #444444; padding: 10px; text-align: center;">
                        <td>{{review.review_id}}</td>
                        <td>{{review.book.title}}</td>
                        <td>{{review.user.name}}</td>                        
                        <td><a href="{% url 'reviews:detail'%}?review_id={{review.review_id}}">{{review.title}}</a></td>
                        <td>{{review.contents|striptags|safe|slice:':100'|truncatechars:30}}</td>
                        <td>{{review.rate}}</td> 
                        <td>{{review.like_users.count}}</td>  
                        <td>{{review.time_retouch}}</td>
                    </tr>                    
                {% endfor %}
                {% else %}
                <tr>
                    <td>작성된 서평이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <!-- 페이지 부분 -->
    <div style="text-align:center">
        <div class="pagination" id="page">
            {% if reviews_list.has_previous %}
            <a class="first_page" type="button">맨 앞으로</a>
            {% endif %}

            <div style="width:30%; margin: 5px;">
                {% for page in reviews_list.paginator.page_range %}
                    {% if page >= reviews_list.number|add:-5 and page <= reviews_list.number|add:5 %} 
                    <a class="now_page" type="button">{{page}}</a>
                    {% endif %}
                {%endfor %} 
            </div>

            {% if reviews_list.has_next %}
            <a class="last_page" type="button">맨 뒤로</a>
            {% endif %}
        </div>
    </div>
</div>

<script>     
    $('#search_button').click(function(){
        $.ajax({
            type:"get",
            url: "{% url 'reviews:list' %}",
            data : {'search_input':$('#search_input').val(), 'search_type': $('#search_type').val()},
            success:function(data){
                $('#table').html(data)
            }
        })
    })

    $(document).on('click', '.first_page', function(){
        num_pages = parseInt($('.now_page').first().text());
            page_click();
    })

    $(document).on('click', '.last_page', function(){
        num_pages = parseInt($('.now_page').last().text());
        page_click();
    })

    $(document).on('click', '.now_page', function(){
        num_pages = parseInt($(this).text());
        page_click();
    })  
    
    function page_click(){
        $.ajax({
            type:"get",
            url: "{% url 'reviews:list' %}",
            data : {'search_input':$('#search_input').val(), 'search_type': $('#search_type').val(),'page':num_pages},
            success:function(data){
                $('#table').html(data)
            },
        })
        
    }    
</script>