<!-- 리뷰 작성 페이지 -->
{% extends 'bookmmelier_base.html' %}
{% block content %}
{% load static %}
<section class="container" id="main">
    <div class="row">
        <div class="col-12">
            <span class="main-title">서평 구경</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 search">
            <form action="#" method="GET">
                <input id="search_input" type="text" name="search" placeholder="도서명, 저자, 출판사 등을 입력해주세요">
                <i class='fa-solid fa-magnifying-glass' id="search_button" type="submit"></i>
            </form>
        </div>
    </div>

    {% include 'reviews_table.html' %}
</section>
{% endblock %}