<!-- 리뷰 자세히 보기 페이지 -->
{% extends 'bookmmelier_base.html' %}
{% block content %}
{% load static %}

<section class="container" id="main">
    <div class="row">
        <div class="col-12 justify-content-between">
            <span class="main-title">{{review.title}}</span>
            <span class="subset">
                <span class='writer'>by {{review.user.id}}</span>
                {%if review.user == request.user %}
                <span class='edit'><a href="{% url 'reviews:update'%}?review_id={{review.review_id}}">수정</a></span>
                <span class='delete'><a href="{% url 'reviews:delete'%}?review_id={{review.review_id}}"
                        onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a></span>
                {%endif%}
            </span>
        </div>
    </div>


    <div class="row">
        <!-- 도서정보 -->
        <div class="col-12">
            <div class="small-content">
                <div class="content-title">
                    도서정보
                </div>
                <div class="book-container">
                    {% if book.img_url %}
                    <img src="{{review.book.img_url}}">
                    {% else %}
                    <img src="{% static 'img/non_image.png' %}">
                    {% endif %}
                    <div class="metadata">
                        <div class="title">
                            {{review.book.title}}
                        </div>

                        <table class="bibil">
                            <tr>
                                <th>저자</th>
                                <td>{{review.book.author}}</td>
                                <th>출판사</th>
                                <td>{{review.book.publisher}}</td>
                                <th>출판년도</th>
                                <td>{{review.book.pub_date}}</td>
                            </tr>
                            <tr>
                                <th>주제</th>
                                <td>{{review.book.kdc_class_no}}</td>
                                <th>ISBN</th>
                                <td>{{review.book.isbn13}}</td>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                        <div class="row justify-content-between algin-items-center">
                            <div class="rate">
                                평점 {{book.ratings}}
                                <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 서평 -->
    <div class="col-12 small-content">
        <div class="content-title">
            서평
        </div>
        <div class="content-desc">
            {{review.contents | safe}}
        </div>
        {% include 'review_detail_like.html' %}

    </div>

    <!-- 댓글 -->
    <div class="col-12 small-content">
        <div class=" content-title">
            댓글
        </div>
        <!-- 댓글 보기 -->
        {% include 'review_detail_comments.html' %}


    </div>
</section>


<script>

</script>

{% endblock %}