<!-- 리뷰 작성 페이지 -->
{% extends 'bookmmelier_base.html' %}
{% load static %}

{% block style %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}

<section class="container" id="main">
	<div class="row">
		<div class="col-12">
			<form id="form-review" method="POST">
				{% csrf_token %}
				<input type="hidden" name="review_id" id="review_id" value="{{review.review_id}}">

				<!-- 제목 입력 -->
				<input type="text" class="title" placeholder="제목을 입력하세요" name="title" value="{{review.title}}">

				<div class="small-content">
					<!-- 도서 선택 버튼 or 선택된 도서 출력 -->
					{% include 'review_write_selected_book.html' %}
				</div>
				<div class="small-content">
					<!-- 별점 선택 -->
					<div class="content-title no-margin">
						별점 {{review.rate}}
					</div>
					<fieldset>
						<input type="radio" name="rate" value="5" id="rate1"><label for="rate1">★</label>
						<input type="radio" name="rate" value="4" id="rate2"><label for="rate2">★</label>
						<input type="radio" name="rate" value="3" id="rate3"><label for="rate3">★</label>
						<input type="radio" name="rate" value="2" id="rate4"><label for="rate4">★</label>
						<input type="radio" name="rate" value="1" id="rate5"><label for="rate5">★</label>
					</fieldset>
					<!-- 서평 -->
					<textarea rows="10" name="contents" id="contents" cols="50" placeholder="서평을 자유롭게 입력해보세요">{{review.contents}}</textarea>
					<div class="button-group">
						<button onclick="history.back()">목록</button>
						<input type="submit" value="수정">
					</div>
					<div id="error_respond"></div>
				</div>
			</form>
		</div>
	</div>
</section>

<div class="modal-bg" onClick="javascript:popClose();"></div>
<div class="modal-wrap">
	<div class="container">
		<button class="modal-close" onClick="javascript:popClose();">X</button>
		<div class="title">
			도서검색
		</div>
		<div class="search">
			<form action="#" method="GET">
				<input type="text" name="search" id="search_input" placeholder="도서명, 저자, 출판사 등을 입력해주세요">
				<i class='fa-solid fa-magnifying-glass' id="search_button"></i>
			</form>
		</div>
	</div>
	{% include 'review_write_search_result.html' %}
</div>

<script>
	$('#search_button').click(function () {
		$.ajax({
			type: "get",
			url: "{% url 'reviews:modal_search_Books' %}",
			data: {
				'search_input': $('#search_input').val(),
				'search_type': $('#search_type').val()
			},
			success: function (data) {
				$('#search_result_table').html(data);
			}
		})
	})

	$(document).on('click', '.first_page', function () {
		num_pages = parseInt($('.now_page').first().text());
		page_click();
	})

	$(document).on('click', '.last_page', function () {
		num_pages = parseInt($('.now_page').last().text());
		page_click();
	})

	$(document).on('click', '.now_page', function () {
		num_pages = parseInt($(this).text());
		page_click();
	})

	function page_click() {
		$.ajax({
			type: "get",
			url: "{% url 'reviews:modal_search_Books' %}",
			data: {
				'search_input': $('#search_input').val(),
				'search_type': $('#search_type').val(),
				'page': num_pages
			},
			success: function (data) {
				$('#search_result_table').html(data);
			}
		})
	}

	$(document).on('click', '.book_title', function () {
		$.ajax({
			type: "post",
			url: "{% url 'reviews:modal_select_Books' %}",
			data: {
				'isbn13': $(this).attr('value'),
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				$('#selected_book').html(data)
			}
		})
	})

	$('#form-review').on('submit', function () {
		event.preventDefault();
		form_array = $(this).serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'reviews:update' %}",
			data: form_array,
			success: function (data) {
				var keys = Object.keys(data);
				if (keys == "success") {
					alert("리뷰 수정이 완료되었습니다")
					window.location.href =
						"{% url 'reviews:detail' %}?review_id=" + data["success"];
				} else {
					for (key in keys) {
						$("#error_respond").text(data[keys[key]])
					}
				}
			}
		})
	});
</script>
{% endblock %}