.sign-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.sign-container img {
  width: 100px;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
  margin-bottom: 20px;
}
.sign-container .desc {
  width: 100%;
  margin: 20px 0;
  text-align: left;
  font-size: 20px;
}
.sign-container form {
  width: 100%;
  padding: 40px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 246, 253, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 40px;
}
.sign-container form input[type=text],
.sign-container form input[type=password] {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 3px solid rgba(241, 147, 51, 0.7);
  outline: none;
  background: none;
  margin-bottom: 40px;
  font-size: 20px;
}
.sign-container form input[type=text]::-moz-placeholder, .sign-container form input[type=password]::-moz-placeholder {
  font-size: 20px;
  color: #BFBFBF;
}
.sign-container form input[type=text]:-ms-input-placeholder, .sign-container form input[type=password]:-ms-input-placeholder {
  font-size: 20px;
  color: #BFBFBF;
}
.sign-container form input[type=text]::placeholder,
.sign-container form input[type=password]::placeholder {
  font-size: 20px;
  color: #BFBFBF;
}
.sign-container form .find_pw {
  width: 100%;
  text-align: right;
  margin-bottom: 40px;
}
.sign-container form .find_pw a {
  color: rgba(16, 51, 231, 0.6);
  text-decoration: none;
}
.sign-container form .find_pw a:hover {
  cursor: pointer;
}
.sign-container form input[type=submit] {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 129, 0, 0.7);
  border-radius: 25px;
  outline: none;
  background: rgba(241, 147, 51, 0.9);
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.sign-container form input[type=submit]:hover {
  cursor: pointer;
}
.sign-container form .button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 129, 0, 0.7);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.sign-container form .button:hover {
  cursor: pointer;
}
.sign-container form .sub-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.sign-container form .sub-form .radio-group {
  width: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  text-align: left;
}
.sign-container form .sub-form .radio-group label::after {
  content: "";
  padding-right: 10px;
}
.sign-container form .sub-form input[type=number] {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 3px solid rgba(241, 147, 51, 0.7);
  outline: none;
  background: none;
  font-size: 20px;
}
.sign-container form .sub-form input[type=number]::-moz-placeholder {
  font-size: 20px;
  color: #BFBFBF;
}
.sign-container form .sub-form input[type=number]:-ms-input-placeholder {
  font-size: 20px;
  color: #BFBFBF;
}
.sign-container form .sub-form input[type=number]::placeholder {
  font-size: 20px;
  color: #BFBFBF;
}/*# sourceMappingURL=login.css.map */