{% extends 'bookmmelier_base.html' %}
{% load static %}

{% block style %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
<section class="container" id="main">
  <div class="row">
    <div class="col-12">
      <span class="main-title">토론</span>
    </div>
  </div>
  <!-- 토론 생성 -->
  <!-- <a href="{% url 'debates:create' %}"> [토론 생성]</a> -->

  <!-- 인기 토론 -->
  <div class="content-container">
    <div class="content-title">
      인기 토론
    </div>
    <!-- 인기 토론 아이템 -->
    <div class="col-12 debate-container" onclick="location.href='#'">
      <div class="title">남는 체력이 읎어</div>
      <div class="status">
        <div class="status-item">
          <i class="fa-regular fa-user"></i>
          56
        </div>
        <div class="status-item">
          <i class="fa-regular fa-comment"></i>
          250
        </div>
      </div>
    </div>
  </div>

  <!-- 도서별 주제 -->
  <div class="col-12">
    <div class="content-container">
      <!-- 도서 선택 버튼-->
      {% include 'debates_list_selected_book.html' %}
    </div>
  </div>
</section>


<!--modal-->
<div class="modal-bg" onClick="javascript:popClose();"></div>
<div class="modal-wrap">
  <div class="container">
    <button class="modal-close" onClick="javascript:popClose();">X</button>
    <div class="title">
      도서검색
    </div>
    <div class="search">
      <form action="#" method="GET">
        <input type="text" name="search" id="search_input" placeholder="도서명, 저자, 출판사 등을 입력해주세요">
        <i class='fa-solid fa-magnifying-glass' id="search_button"></i>
      </form>
    </div>
  </div>
  {% include 'debates_list_search_result.html' %}
</div>

</div>


<script>
  $("#search_button").click(function () {
    $.ajax({
      type: "get",
      url: "{% url 'debates:list_search_Books' %}",
      data: {
        search_input: $("#search_input").val(),
        search_type: $("#search_type").val(),
      },
      success: function (data) {
        $("#search_result_table").html(data);
      },
    });
  });

  $(document).on("click", ".first_page", function () {
    num_pages = parseInt($(".now_page").first().text());
    page_click();
  });

  $(document).on("click", ".last_page", function () {
    num_pages = parseInt($(".now_page").last().text());
    page_click();
  });

  $(document).on("click", ".now_page", function () {
    num_pages = parseInt($(this).text());
    page_click();
  });

  function page_click() {
    $.ajax({
      type: "get",
      url: "{% url 'debates:list_search_Books' %}",
      data: {
        search_input: $("#search_input").val(),
        search_type: $("#search_type").val(),
        page: num_pages,
      },
      success: function (data) {
        $("#search_result_table").html(data);
      },
    });
  }

  $(document).on("click", ".item", function () {
    $.ajax({
      type: "post",
      url: "{% url 'debates:list_select_Books' %}",
      data: {
        isbn13: $(this).attr("value"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function (data) {
        popClose();
        $("#selected_book").html(data);
      },
    });
  });
</script>
{% endblock %}