<!--  토론 목록 모달 : 선택된 도서 -->
<div id="selected_book">
  {% if selected_book %}
  <h2>선택된 도서</h2>
  <a>제목 : {{selected_book.title}}</a><br />
  <a>작가 : {{selected_book.author}}</a><br />
  <a>출판사{{selected_book.publisher}}</a><br />
  <input type="hidden" name="isbn13" id="isbn13" value="{{selected_book.isbn13}}" />

  <a href="{% url 'debates:create'%}?isbn13={{selected_book.isbn13}}">해당 도서로 토론 시작하기</a></td>


  <!-- 도서에 따른 토론 목록 -->
  <div>
    <table class="table-contents"
      style="padding:10px; border-top: 3px solid #444444; border-collapse: collapse; margin:auto; width: 100%;">
      <thead>
        <tr text-align="center"
          style="padding:5px; border-bottom: 1px solid #444444; padding: 10px; text-align: center;">
          <th>ID</th>
          <th>owner</th>
          <th>time_created</th>
          <th>title</th>
          <th>subtitle</th>
          <th>participant</th>
          <th>messages</th>
        </tr>
      </thead>

      <tbody>
        {% if debates_list %}
        <p><b>{{ debates_list|length }}개의 토론이 있습니다.</b></p>
        {% for debate in debates_list %}
        <tr class="{% cycle '' 'even_bgcolor' %}"
          style="padding:5px; border-bottom: 1px solid #444444; padding: 10px; text-align: center;">
          <td>{{debate.debate_id}}</td>
          <td>{{debate.owner}}</td>
          <td>{{debate.time_created}}</td>
          <td><a href="{% url 'debates:detail'%}?debate_id={{debate.debate_id}}">{{debate.title}}</a></td>
          <td>{{debate.subtitle}}</td>
          <td>{{debate.user_count}}</td>
          <td>{{debate.message_count}}</td>
        </tr>
        {% endfor %}

        {% else %}
        <tr>
          <h5>만들어진 토론이 없습니다!</h5>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  {%else%}
    <h5>선택된 도서가 없습니다</h5>
  {%endif%}
</div>