<!-- 토론 페이지 메시지 아이템 -->
{%if messages_list%} {% for message in messages_list %}
<div style="
    border: 3px solid black;
    height: 100px;
    line-height: 50%;
    text-align: center;
  ">
  <p>{{message.user_id}} : {{message.time_created}}</p>
  <input type="text" class="messageContent{{ message.message_id }}" value="{{message.contents}}" readonly />
  {%if message.user == request.user %}
  <!-- 수정 버튼 -->
  <div class="tdMessageUpdate{{ message.message_id }}">
    <input type="button" value="수정" onclick="messageUpdate('{{ message.message_id }}')" />
  </div>
  <!-- 삭제 버튼 -->
  <div class="tdMessageDelete{{ message.message_id }}">
    <input type="button" value="삭제" onclick="messageDelete('{{ message.message_id }}')" />
  </div>
  <!-- 수정 완료 버튼 : 수정 버튼 클릭시 나타남 -->
  <div class="tdMessageSubmit{{ message.message_id }}" style="display: none">
    <input type="button" value="수정 완료" onclick="messageSubmit('{{message.message_id }}')" />
  </div>
  <!-- 수정 취소 버튼 : 수정 버튼 클릭시 나타남 -->
  <div class="tdMessageUpdateCancel{{ message.message_id }}" style="display: none">
    <input type="button" value="취소" onclick="messageUpdateCancel('{{ message.message_id }}')" />
  </div>
  {%endif%}
</div>
{%endfor%}
<input type="hidden" id="has_next" name="has_next" value="{{has_next}}" />
<input type="hidden" id="length" name="length" value="{{length}}" />
{%else %}
<h5>토론이 하나도 없습니다.</h5>
{%endif%}