<!-- 토론 생성 페이지 -->
{% extends 'bookmmelier_base.html' %} 

{% block content %}
<div class="content">
  <!-- 토론 방 생성 -->
  <div class="header">
    <h1>토론 생성</h1>
  </div>

    <!-- 도서 검섹 및 선택 모달 -->
    <a href="#" data-toggle="modal" data-target="#myModal">도서 불러오기</a>
    <div
      class="modal fade"
      id="myModal"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">도서 검색</h4>
            <div>
              <select name="search_type" id="search_type">
                <option value="전체">전체</option>
                <option value="제목">제목</option>
                <option value="작가">작가</option>
                <option value="출판사">출판사</option>
              </select>
              <input id="search_input" type="search" />
              <button id="search_button" type="submit">검색</button>
            </div>
  
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <!-- 도서목록 부분 -->
            <div id="search_result_table">
              {% include 'debates_list_search_result.html' %}
            </div>
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="modal"></div>

  <!-- 토론 방 정보 부분 -->
  <form id="create_debate" method="POST">
    {% include 'debates_create_selected_book.html' %}
    {% csrf_token %}
    {{forms|safe}}
    <button type="submit">토론 생성완료</button>
  </form>
</div>

<script>
  // 모달 내부에서 도서 검색 버튼 기능
  $("#search_button").click(function () {
    $.ajax({
      type: "get",
      url: "{% url 'debates:create_search_Books' %}",
      data: {
        search_input: $("#search_input").val(),
        search_type: $("#search_type").val(),
      },
      success: function (data) {
        $("#search_result_table").html(data);
      },
    });
  });

  // 모달 내부에서 도서 페이지 이동 기능
  $(document).on("click", ".first_page", function () { num_pages = parseInt($(".now_page").first().text()); page_click(); });
  $(document).on("click", ".last_page", function () {num_pages = parseInt($(".now_page").last().text()); page_click(); });
  $(document).on("click", ".now_page", function () {num_pages = parseInt($(this).text()); page_click(); });

  // 도서 페이지 이동 버튼
  function page_click() {
    $.ajax({
      type: "get",
      url: "{% url 'debates:create_search_Books' %}",
      data: {
        search_input: $("#search_input").val(),
        search_type: $("#search_type").val(),
        page: num_pages,
      },
      success: function (data) {
        $("#search_result_table").html(data);
      },
    });
  }

  // 모달 내부에서 도서 선택에 따른 결과 반환 기능 
  $(document).on("click", ".book_title", function () {
    $.ajax({
      type: "post",
      url: "{% url 'debates:create_select_Books' %}",
      data: {
        isbn13: $(this).attr("value"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function (data) {
        $("#selected_book").html(data);
      },
    });
  });

  // 토론 생성 요청
  $("#create_debate").on("submit", function () {
    event.preventDefault();
    form_array = $(this).serialize();
    // 도서가 선택되지 않은 경우, 오류 반환
    if ($("#isbn13").val() === undefined) alert("도서를 선택해주세요");
    // 조건을 만족한 경우 결과 반환
    else {
      $.ajax({
        type: "POST",
        url: "{% url 'debates:create' %}",
        data: form_array,
        success: function (data) {
          alert("토론 생성이 완료되었습니다");          
          // 해당 토론 생성시 페이지 이동
          window.location.href = "{% url 'debates:detail' %}?debate_id=" + data["debate_id"];
        },
      });
    }
  });
</script>
{% endblock %}
